<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset="UTF-8">
        <title>masakiアプリ</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
    
    <h1>フォーム画面</h1>
    
    <form method="post" action="{{url_for('register')}}">
        <table border="1">
            <tr>
                <th>名前</th>
            </tr>

            <tr>
                <td><input type="text" name = "name"></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="登録">
    </form>
    
    </body>
</html>